<html lang="en">
<head><title>Home Page</title></head>
<style>
    html{
        height: 100%;
    }
    body{
        font-family: sans-serif;
        background-color: #e6e6e6;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    main{
        text-align: center;
    }
    ul{margin:0;padding:0;list-style-type:none;}
</style>
<body>
<main>
    <h1>Hello!</h1>
    <p>Welcome to <strong th:text="${appName}">Our App</strong></p>
    <h2>Available API endpoints</h2>
    <ul>
        <li>
            <a href="/api/books">/api/books</a>
        </li>
    </ul>
</main>
</body>
</html>